/* 기존 스타일 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #00321f;
    padding-top: 60px;
    /* 헤더의 높이만큼 패딩을 추가 */
  }
  
  header {
    background-color: #014d39;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .logo {
    display: flex;
    align-items: center;
    position: relative;
    left: 50px;
  }
  
  .logo img {
    height: 65px;
  }
  
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav .main-menu {
    display: flex;
    list-style: none;
    margin: 20px;
    padding: 0;
    gap: 300px;
  }
  
  nav .main-menu li {
    position: relative;
  }
  
  nav .main-menu li a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    padding: 20px;
  }
  
  nav .submenu {
    display: none;
    position: absolute;
    top: 240%;
    left: 0;
    background-color: #014d39;
    padding: 10px;
    list-style: none;
    margin: 0;
    width: max-content;
    z-index: 9;
  }
  
  /* 서브메뉴가 보이는 동안 사라지지 않게 유지 */
  nav .main-menu li:hover .submenu,
  nav .submenu:hover {
    display: block;
  }
  
  .social-links {
    display: flex;
    gap: 20px;
    margin-left: auto;
    position: relative;
    right: 100px;
    margin-top: 10px;
  }
  
  .social-links a img {
    width: 30px;
    height: 30px;
  }
  
  .hero {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .hero img {
    width: 100%;
    height: auto;
  }
  
  .hero .new-banner {
    position: absolute;
    top: 0;
    left: -100px;
    width: 554px;
    height: 182px;
  }
  
  .hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
  }
  
  .hero .additional-images {
    position: relative;
    left: -25%;
    top: -35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  
  .hero .additional-images img {
    width: 100%;
    max-width: 30%;
    height: auto;
  }
  
  .hero .find-seller-button {
    background-color: #d4a138;
    color: white;
    padding: 1.3vw 2vw;
    text-decoration: none;
    font-weight: bold;
    font-size: 2.2em;
    margin-top: 2vw;
    margin-left: -13%;
  }
  
  .info {
    margin: 10px 0;
  }
  
  .warning {
    margin-top: 10px;
    font-size: 0.9em;
  }
  
  .video-container {
    position: relative;
    width: 100%;
    max-width: 860px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pc_visual {
    width: 150%;
    height: 100%;
    margin-top: -300px;
  }
  
  .play-button.hidden {
    display: none;
  }
  
  .image-section {
    text-align: center;
    margin: 20px 0;
  }
  
  .label-img {
    position: relative;
    width: 8%;
    margin: 10px 0;
    left: -33%;
    top: -22vw;
  }
  
  .main-label {
    position: relative;
    width: 25%;
    left: -28%;
    top: -22vw;
  }
  
  .carousel {
    position: fixed;
    left: 10px;
    top: 68%;
    transform: translateY(-50%);
    width: 100px;
  }
  
  .carousel-item {
    display: block;
    margin-bottom: 10px;
    transition: transform 0.5s, border 0.5s, opacity 0.5s;
    opacity: 0.5;
  }
  
  .carousel-item img {
    width: 27px;
    height: auto;
    display: block;
    cursor: pointer;
  }
  
  .carousel-item.active {
    border: 2px solid red;
    opacity: 1;
  }
  
  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
  
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .additional-images img:first-child {
    animation: slideInFromLeft 1s ease-out;
  }
  
  .additional-images img:nth-child(2) {
    animation: slideInFromBottom 1s ease-out;
  }
  
  .play-button {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
    background-size: contain;
    cursor: pointer;
    border: none;
    outline: none;
  }
  
  .play-button.hidden {
    display: none;
  }
  
  .vod_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .vod_img a.btn_play {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 2;
    display: block;
    opacity: 0.6;
    width: 110px;
    height: 110px;
    background: rgba(2, 2, 2, 0.4);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
  }
  
  .vod_img a.btn_play:before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .vod_img a.btn_play:hover {
    opacity: 1;
    background: rgba(2, 2, 2, 0.6);
    border-color: rgba(255, 255, 255, 0.4);
  }
  
  .vod_img.hidden {
    display: none;
  }
  
  .container {
    text-align: left;
    display: inline-block;
    position: relative;
    top: -60vw;
    left: 70%;
    transform: translateX(-50%);
  }
  
  .line {
    margin: 10px 0;
    line-height: 1.1;
    letter-spacing: -0.14em;
    width: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .visible {
    opacity: 1;
  }
  
  .line1 {
    color: #8ab8a8;
    font-size: 5.5vw;
  }
  
  .line2,
  .line3,
  .line4 {
    color: #aa9767 !important;
    font-size: 5.5vw;
  }
  
  .no-animation {
    opacity: 1;
  }
  
  .line4-group {
    margin-top: 10px;
  }
  
  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .content {
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 20px;
    flex-wrap: wrap;
  }
  
  .left-image,
  .right-image {
    flex: 3;
    min-width: 75%;
    box-sizing: border-box;
  }
  
  .left-image img,
  .right-image img {
    width: 100%;
    height: auto;
  }
  
  .left-image {
    padding-right: 20px;
    position: relative;
    margin-left: -20%;
  }
  
  .right-image {
    padding-left: 20px;
    position: relative;
    margin-right: -20%;
  }
  
  .separator {
    width: 150%;
    height: 5px;
    background-color: yellow;
    margin: 100px 0;
  }
  
  .right-text,
  .left-text {
    flex: 2;
    min-width: 300px;
    max-width: 600px;
    box-sizing: border-box;
    padding-top: 20px;
  }
  
  .right-text {
    padding-left: 10%;
  }
  
  .left-text {
    padding-right: 10%;
  }
  
  .right-text h1,
  .left-text h1 {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 1s, transform 1s;
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .left-text h1 {
    transform: translateX(50px);
  }
  
  .right-text .paragraphs,
  .left-text .paragraphs {
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 1s, transform 1s;
  }
  
  .left-text .paragraphs {
    transform: translateX(-50px);
  }
  
  .right-text h1.show,
  .left-text h1.show {
    opacity: 1;
    transform: translateX(0);
  }
  
  .right-text .paragraphs.show,
  .left-text .paragraphs.show {
    opacity: 1;
    transform: translateX(0);
  }
  
  .right-text h1,
  .left-text h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #d19f58;
  }
  
  .right-text p,
  .left-text p {
    line-height: 1.2;
    font-size: 1.3em;
    color: rgba(255, 255, 255, 0.75);
    margin: 8px 0;
    word-break: keep-all;
    white-space: pre-line;
  }
  
  .second-content-section {
    padding-top: 300px;
  }
  
  .second-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .second-content {
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 20px;
    flex-wrap: wrap;
  }
  
  .second-left-image,
  .second-right-image {
    flex: 3;
    min-width: 75%;
    box-sizing: border-box;
  }
  
  .second-left-image img,
  .second-right-image img {
    width: 100%;
    height: auto;
  }
  
  .second-left-image {
    padding-right: 20px;
    position: relative;
    margin-left: -20%;
  }
  
  .second-right-image {
    padding-left: 20px;
    position: relative;
    margin-right: -20%;
  }
  
  .second-separator {
    width: 150%;
    height: 5px;
    background-color: yellow;
    margin: 100px 0;
  }
  
  .second-right-text,
  .second-left-text {
    flex: 2;
    min-width: 300px;
    max-width: 600px;
    box-sizing: border-box;
    padding-top: 20px;
  }
  
  .second-right-text {
    padding-left: 10%;
  }
  
  .second-left-text {
    padding-right: 10%;
  }
  
  .second-right-text h1,
  .second-left-text h1 {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 1s, transform 1s;
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .second-left-text h1 {
    transform: translateX(50px);
  }
  
  .second-right-text .paragraphs,
  .second-left-text .paragraphs {
    opacity: 0;
    transform: translateX(50px);
    transition: opacity 1s, transform 1s;
  }
  
  .second-left-text .paragraphs {
    transform: translateX(-50px);
  }
  
  .second-right-text h1.show,
  .second-left-text h1.show {
    opacity: 1;
    transform: translateX(0);
  }
  
  .second-right-text .paragraphs.show,
  .second-left-text .paragraphs.show {
    opacity: 1;
    transform: translateX(0);
  }
  
  .second-right-text h1,
  .second-left-text h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #d19f58;
  }
  
  .second-right-text p,
  .second-left-text p {
    line-height: 1.2;
    font-size: 1.3em;
    color: rgba(255, 255, 255, 0.75);
    margin: 8px 0;
    word-break: keep-all;
    white-space: pre-line;
  }
  
  @media (max-width: 1850px) {
    nav .main-menu {
      gap: 300px;
    }
  
    .logo {
      left: 50px;
    }
  }
  
  @media (max-width: 1453px) {
    nav .main-menu {
      gap: 200px;
    }
  
    .logo {
      left: 40px;
    }
  }
  
  @media (max-width: 1391px) {
    nav .main-menu {
      gap: 200px;
    }
  
    .logo {
      left: 40px;
    }
  }
  
  @media (max-width: 1242px) {
    nav .main-menu {
      gap: 100px;
    }
  
    .logo {
      left: 30px;
    }
  }
  
  @media (max-width: 1186px) {
    nav .main-menu {
      gap: 100px;
    }
  
    .logo {
      left: 30px;
    }
  }
  
  @media (max-width: 1180px) {
    nav .main-menu {
      gap: 50px;
    }
  
    .logo {
      left: 30px;
    }
  }
  
  @media (min-width: 1073px) {
    .hamburger-menu,
    .menu-overlay {
      display: none;
    }
  
    nav .main-menu {
      display: flex;
    }
  
    .hero .new-banner-small {
      display: none;
    }
  }
  
  @media (max-width: 1072px) {
    header {
      flex-direction: column;
      padding: 30px;
      background-color: #014d39;
      /* #014d39 */
    }
  
    .logo {
      position: absolute;
      top: 10px;
      left: 10px;
      margin-right: 0;
    }
  
    .logo img {
      height: 40px;
    }
  
    .nav-container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .hero .find-seller-button {
      font-size: 1em;
      padding: 9px 8px;
      margin-top: -0.5%;
      margin-left: -15%;
    }
  
    nav .main-menu {
      display: none;
    }
  
    .hamburger-menu {
      display: block;
      cursor: pointer;
      padding: 10px;
      position: absolute;
      right: 20px;
      top: 0px;
    }
  
    .hamburger-menu div {
      width: 25px;
      height: 3px;
      background-color: white;
      margin: 5px 0;
      transition: 0.4s;
    }
  
    .hamburger-menu.active .bar1 {
      transform: rotate(-45deg) translate(-5px, 6px);
    }
  
    .hamburger-menu.active .bar2 {
      opacity: 0;
    }
  
    .hamburger-menu.active .bar3 {
      transform: rotate(45deg) translate(-5px, -6px);
    }
  
    .menu-overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #014d39;
      z-index: 2000;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding-top: 30px;
    }
  
    .menu-overlay.active {
      display: flex;
    }
  
    .menu-overlay .close-btn {
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
      font-size: 2em;
      color: white;
    }
  
    .menu-overlay .main-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: white;
      text-decoration: none;
      margin-right: 10px;
      margin-bottom: 10px;
      font-size: 13.3px;
    }
  
    .menu-overlay .main-menu li {
      margin-bottom: 20px;
    }
  
    .menu-overlay .main-menu li a {
      color: white;
      font-size: 1.2em;
    }
  
    .social-links {
      display: none;
    }
  
    .first-section {
      margin-bottom: 50px;
    }
  
    .third-section {
      margin-top: -7px;
    }
  
    .second-section {
      margin-top: -28px;
    }
  
    .hero .new-banner {
      display: none;
    }
  
    .hero .new-banner-small {
      display: block;
      width: 194px;
      height: 98px;
      position: absolute;
      top: 0;
      left: -30px;
    }
  
    .carousel {
      display: none;
    }
  
    .video-container {
      max-width: 100%;
      padding: 0 20px;
    }
  
    .pc_visual {
      width: 100%;
      height: auto;
      margin-top: 0;
    }
  
    .vod_img a.btn_play {
      top: 50%;
      width: 80px;
      height: 80px;
    }
  
    .vod_img a.btn_play:before {
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-left: 12px solid white;
    }
  
    .image-section {
      position: relative;
      top: -20px;
    }
  
    .awards {
      position: relative;
      top: -40px;
    }
  
    .content {
      flex-direction: column;
      align-items: center;
    }
  
    .left-image,
    .right-image {
      width: 100%;
      padding: 0;
      margin: 0;
    }
  
    .separator {
      width: 90%;
    }
  
    .right-text,
    .left-text {
      width: 100%;
      max-width: 100%;
      font-size: 0.8em;
    }
  
    .right-text p,
    .left-text p {
      margin: 5px 0;
    }
  
    .second-content {
      flex-direction: column;
      align-items: center;
    }
  
    .second-left-image,
    .second-right-image {
      width: 100%;
      padding: 0;
      margin: 0;
    }
  
    .second-separator {
      width: 90%;
    }
  
    .second-right-text,
    .second-left-text {
      width: 100%;
      max-width: 100%;
      font-size: 0.8em;
    }
  
    .second-right-text p,
    .second-left-text p {
      margin: 5px 0;
    }
  
    .second-content-section {
      padding-top: 400px;
    }
  
    .second-content.second-section {
      flex-direction: column-reverse;
      padding-top: -1000px;
    }
  
    .second-section .second-left-text {
      text-align: right;
      padding-right: 10%;
      padding-left: 0;
    }
  }
  
  @media (max-width: 550px) {
    .hero img {
      display: none;
    }
  
    .image-section {
      margin-top: 100px;
      margin-left: 160px;
    }
  
    .awards {
      position: relative;
      margin-top: 280px;
      margin-left: -250px;
    }
  
    .label-img {
      top: 0;
    }
  
    .main-label {
      top: 0;
      width: 80%;
    }
  
    .sub-labels {
      margin-left: -153px;
      width: 400%;
    }
  
    .hero {
      background-image: url("img/main_visual7_mo.png.jpg");
      background-size: cover;
      background-position: center;
      height: 630px;
    }
  
    .hero .additional-images {
      left: -15px;
      top: 8%;
      gap: 10px;
    }
  
    .hero .additional-images img {
      max-width: 60%;
      display: block;
    }
  
    .hero .find-seller-button {
      font-size: 0.7em;
      padding: 9px 8px;
      margin-top: 10px;
      margin-left: -35%;
    }
  
    .video-container {
      max-width: 100%;
      padding: 0 20px;
    }
  
    .pc_visual {
      width: 100%;
      height: auto;
      margin-top: 0;
    }
  
    .left-image img,
    .right-image img {
      width: 100%;
      margin: 10px 0;
    }
  
    .separator {
      width: 100%;
    }
  
    .right-text h1,
    .left-text h1 {
      font-size: 1.6em;
    }
  
    .right-text p,
    .left-text p {
      font-size: 0.9em;
      margin: 3px 0;
    }
  
    .second-left-image img,
    .second-right-image img {
      width: 100%;
      margin: 10px 0;
    }
  
    .second-separator {
      width: 100%;
    }
  
    .second-right-text h1,
    .second-left-text h1 {
      font-size: 1.6em;
    }
  
    .second-right-text p,
    .second-left-text p {
      font-size: 0.9em;
      margin: 3px 0;
    }
  
    .second-content.second-section {
      flex-direction: column-reverse;
    }
  
    .second-section .second-left-text {
      text-align: right;
      padding-right: 10%;
      padding-left: 0;
    }
  
    .second-content-section {
      padding-top: 50px;
    }
  }
  
  /* menu-overlay 새로운 스타일 */
  .menu-overlay .menu-container {
    padding: 20px;
    background-color: #014d39;
  }
  
  .menu-overlay .menu-section {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
  }
  
  .menu-overlay .menu-section h4 {
    margin-bottom: 23px;
    color: white;
  }
  
  .menu-overlay .menu-links {
    display: flex;
    flex-wrap: wrap;
  }
  
  .menu-overlay .menu-links a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 13.3px;
  }
  
  .menu-overlay .menu-social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .menu-overlay .menu-social-icons img {
    width: 35px;
    height: 35px;
    margin: 10px;
  }
  
  /* beer section 스타일 코드 */
  .beer-section {
    background-color: #00321f;
    color: #ffffff;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    margin-top: -60vw;
    margin-bottom: 20vw;
  }
  
  .beer-container {
    position: relative;
    display: inline-block;
    max-width: 28vw;
    width: 100%;
    margin: 0 auto;
  }
  
  .beer-container img {
    width: 100%;
    height: auto;
  }
  
  .beer-text-overlay {
    position: absolute;
    color: #b0bec5;
    font-size: 1.5vw;
    text-align: center;
    line-height: 120%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .beer-text1 {
    top: 5.9vw;
    left: -23.5vw;
  }
  
  .beer-text2 {
    top: 14.5vw;
    right: -22vw;
  }
  
  .beer-text3 {
    top: 27vw;
    left: -23vw;
  }
  
  .beer-text4 {
    bottom: 10vw;
    left: -18vw;
  }
  
  .beer-text5 {
    bottom: 15vw;
    right: -18vw;
  }
  
  .beer-line {
    position: absolute;
    border-top: 0.11vw dashed #ffffff;
    width: 10vw;
  }
  
  .beer-circle {
    position: absolute;
    width: 1.5vw;
    height: 1.5vw;
    background-color: orange;
    border-radius: 50%;
  }
  
  .beer-line1 {
    top: 6.8vw;
    left: -2vw;
    width: 5vw;
  }
  
  .beer-circle1 {
    top: 6.1vw;
    left: 2vw;
  }
  
  .beer-line2 {
    top: 35.8vw;
    right: -1vw;
    width: 4vw;
  }
  
  .beer-circle2 {
    top: 35vw;
    right: 3vw;
  }
  
  .beer-line3 {
    top: 29.4vw;
    left: -3vw;
    width: 10vw;
  }
  
  .beer-circle3 {
    top: 28.7vw;
    left: 7vw;
  }
  
  .beer-line4 {
    bottom: 11vw;
    left: -3vw;
    width: 5vw;
  }
  
  .beer-circle4 {
    bottom: 10.3vw;
    left: 2vw;
  }
  
  .beer-line5 {
    bottom: 36vw;
    right: -3vw;
    width: 5vw;
  }
  
  .beer-circle5 {
    bottom: 35.3vw;
    right: 2vw;
  }
  
  .beer-visible {
    opacity: 1;
  }
  
  /* ---------------------------섹션중간 border-------------------------------------------- */
  .beer-orange-border {
    border-top: 0.1vw solid orange;
    width: 300%;
    position: relative;
    bottom: -3vw;
    left: -100%;
  }
  
  /* ---------------------------------------------------------------------- */
  /* product section 스타일 코드 */
  .product-section {
    background-color: #00321f;
    color: gold;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    margin-top: 10vw;
  }
  
  .product-header {
    background-color: #00321f;
    color: white;
    padding: 20px;
    text-align: left;
  }
  
  .product-header .product-title {
    position: relative;
    font-size: 60px;
    font-weight: bold;
    margin-left: 160px;
    margin-top: 10vw;
  }
  
  .product-header .product-description {
    position: relative;
    font-size: 1.2em;
    margin-top: -65px;
    margin-left: 450px;
  }
  
  .product-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: nowrap;
    max-width: 100%;
    overflow: hidden;
  }
  
  .product-item {
    margin: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 0.5s ease-in-out;
    flex: 1;
    max-width: 200px;
  }
  
  .product-item img {
    width: 100%;
    max-width: 200px;
    height: auto;
  }
  
  .product-caption {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 1.5vw;
  }
  
  .product-caption .product-text-left {
    margin-right: 10px;
    color: #d19f58;
    transform: translateX(-150px);
  }
  
  .product-caption .product-text-right {
    color: rgba(255, 255, 255, 0.75);
    transform: translateX(-15px);
    transition: opacity 0.5s ease-in-out;
  }
  
  .product-item:hover img,
  .product-item:hover .product-text-right {
    opacity: 0.5;
  }
  
  .product-container:hover .product-item img,
  .product-container:hover .product-item .product-text-right {
    opacity: 0.5;
  }
  
  .product-container:hover .product-item:hover img,
  .product-container:hover .product-item:hover .product-text-right {
    opacity: 1;
  }
  
  .product-container:hover .product-item:hover .product-text-left {
    opacity: 1;
  }
  
  .product-item:nth-child(2) {
    transform: translateX(-40px);
  }
  
  .product-item:nth-child(4) {
    transform: translateX(40px);
  }
  
  @media (max-width: 1072px) {
    .product-section {
      margin-top: 35vw;
    }
  
    .product-container {
      flex-wrap: wrap;
      justify-content: space-around;
    }
  
    .product-item {
      margin: 40px;
    }
  
    .product-caption {
      font-size: 13px;
      margin-top: 25px;
    }
  
    .product-caption .product-text-left {
      transform: translateX(-75px);
    }
  
    .product-caption .product-text-right {
      transform: translateX(-10px);
    }
  
    .product-header .product-title {
      position: relative;
      font-size: 25px;
      font-weight: bold;
      margin-left: 60px;
      margin-top: 10vw;
    }
  
    .product-header .product-description {
      position: relative;
      font-size: 13px;
      margin-top: 3px;
      margin-left: 60px;
    }
  
    .product-item:nth-child(3) {
      margin-right: -20px;
    }
  
    .product-item:nth-child(2) {
      margin-right: -20px;
    }
  
    .logo,
    .hamburger-menu {
      position: fixed;
      top: 10px;
      z-index: 1000;
    }
  
    .logo {
      left: 10px;
    }
  
    .hamburger-menu {
      right: 20px;
    }
  }
  
  @media (max-width: 550px) {
    .product-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  
    .product-item {
      margin: 10px;
    }
  
    .product-item img {
      width: 100%;
      height: auto;
      max-width: 150px;
    }
  
    .product-caption {
      font-size: 1em;
      margin-top: 5px;
    }
  
    .product-caption .product-text-left {
      transform: translate(-50px, -550px);
    }
  
    .product-caption .product-text-right {
      transform: translateX(-5px);
    }
  
    .product-item:nth-child(4) {
      transform: translateX(-20px);
    }
  
    .product-item:nth-child(1) .product-text-left {
      transform: translate(-50px, -320px);
    }
  
    .product-item:nth-child(4) img {
      max-width: 100%;
    }
  
    .product-header .product-title {
      position: relative;
      font-size: 25px;
      font-weight: bold;
      margin-left: 30px;
      margin-top: 10vw;
    }
  
    .product-header .product-description {
      position: relative;
      font-size: 13px;
      margin-top: 3px;
      margin-left: 30px;
    }
  
    .product-item:nth-child(1) .product-text-left {
      transform: translate(-30px, -380px);
    }
  }
  
  /* footer */
  footer {
    background-color: #00321f;
    color: rgb(255, 255, 255, 0.5);
    padding: 20px 0;
    text-align: center;
    position: relative;
    font-size: 13px;
    z-index: 100;
  }
  
  .footer-content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
  
  .footer-section {
    flex: 1;
    padding: 0 30px 10px;
    border-right: 1px solid rgb(255, 255, 255, 0.5);
    line-height: 1.6;
  }
  
  .footer-section:last-child {
    border-right: none;
  }
  
  .footer-section-second {
    flex: 2;
  }
  
  .footer-content p,
  .footer-content a {
    margin: 0;
  }
  
  .footer-content a {
    color: white;
    text-decoration: none;
  }
  
  .cookie {
    margin-top: 20px;
  }
  
  .footer-section-third {
    margin-left: 100px;
  }
  
  .footer-section-third p {
    margin-left: -100px;
  }
  
  .footer-mobile {
    display: none;
  }
  
  @media (max-width: 1072px) {
    .footer-content {
      flex-direction: column;
      align-items: flex-start;
      padding-left: 20px;
    }
  
    .footer-section {
      border-right: none;
      text-align: left;
      padding: 10px 0;
    }
  
    .footer-section-third {
      margin-left: 0;
    }
  
    .footer-section-third p {
      margin-left: 0;
    }
  }
  
  @media (max-width: 550px) {
    .footer-content {
      display: none;
    }
  
    .footer-mobile {
      display: block;
      text-align: left;
      padding-left: 20px;
      font-size: 12px;
    }
  
    .footer-mobile p,
    .footer-mobile a {
      margin: 5px 0;
      color: rgb(255, 255, 255, 0.5);
      text-decoration: none;
    }
  
    .footer-mobile .footer-section {
      border: none;
      padding: 5px 0;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .product-item {
    opacity: 0;
    /* 처음에는 요소를 보이지 않게 설정 */
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  
  .product-item.fade-in {
    animation: fadeIn 1s forwards;
    /* fadeIn 애니메이션을 적용 */
  }
  
  /* ------------------------ */
  /* 배경색 조절 */
  .menu-overlay {
    background-color: #014d39;
    /* 원하는 배경색으로 변경 */
  }
  
  /* 햄버거 메뉴가 활성화되었을 때 로고 숨기기 */
  .hamburger-menu.active ~ .logo img {
    display: none;
  }
  
  /* 스크롤 시 고정되는 스타일 추가 */
  .logo,
  .hamburger-menu {
    position: fixed;
    top: 10px;
    z-index: 1000;
  }
  
  .logo {
    left: 10px;
  }
  
  .hamburger-menu {
    right: 20px;
  }
  
  /*---------------------------------------------------- info-section 스타일 --------------------------------------------------------------------*/
  
  .age-checker {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    text-align: center;
  }
  .age-checker div {
    background-color: #006644;
    padding: 40px 60px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .age-checker h1 {
    font-size: 32px; /* 텍스트 크기 조정 */
    margin-bottom: 30px;
    line-height: 1.5;
  }
  .age-checker button {
    width: 120px;
    height: 50px;
    margin: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #d9a760;
    color: white;
    font-size: 18px;
    cursor: pointer;
  }
  .age-checker button:hover {
    background-color: #c3924c;
  }
  #warning {
    margin-top: 20px;
    font-size: 12px;
    color: lightgray;
    line-height: 1.5;
  }
  .content {
    opacity: 0.5;
    padding: 20px;
  }
  /* 서브메뉴가 보이는 동안 사라지지 않게 유지 */
  nav .main-menu li:hover .submenu,
  nav .submenu:hover {
    display: block;
  }
  
  /* 서브메뉴 항목에 마우스를 올렸을 때 밑줄 표시 */
  nav .submenu li a:hover {
    text-decoration: underline;
  }
  